body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.page {
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.page img {
  max-width: 80%;
  max-height: 80%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 2rem;
}

.page-content {
  max-width: 40%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}