body {
  margin: 0;
  /* overflow: hidden; */
  /* display: flex; */
  /* overflow-x: scroll; */
  /* Enable horizontal scrolling */
  /* scroll-snap-type: x mandatory; */
  /* Enable snapping to pages */

}

.page {
  /* width: 100vw; */
  height: 98vh;
  /* flex-shrink: 0; */
  display: grid;
  grid-auto-flow: column;
  /* Prevent pages from shrinking */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  grid-auto-columns: 100%;
  /* scroll-snap-align: start; */
  /* Snap alignment to the start of each page */
}

.centered-text {
  font-size: 24px;
  display: flex;
  justify-content: center;
}